.dropdownProfile::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: rem;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  background-color: white;

}
