.dropdown select {
  color: black;
  line-height: 2;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  position: relative;
}

.dropdown {
  width: 250px;
  overflow: hidden;
  background: no-repeat right white;
}

.dropdown {
  position: relative;
}

.dropdown:before {
  content: '';
  position: absolute;
  right: 10px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.dropdown:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}

select > option {
  color: black;
}
